<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>home</title>
	
</head>
<body id="home" onload="">
	<h1 id="portfolio">best portfolio ever, man</h1>
	{% for project in project_list %}
	<h2><em>project name:</em> {{ project.name }}</h2>
	<h3><em>context:</em> {{ project.context.name }}</h3>
	<p><em>summary:</em> {{ project.summary|safe }}</p>
	<ul>
		{% for detail in project.details.all %}
		<li>
			<h4><em>detail:</em> {{ detail.name }}</h4>
			<p><em>description:</em> {{ detail.desc }}</p>
			{% if detail.file %}
			<img src="{{ detail.file.url }}">
			{% elif detail.video %}
			{% load embed_video_tags %}
			{{ detail.video|embed:'medium' }}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
</body>
</html>