<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>home</title>
	
</head>
<body id="home" onload="">
	<h1 id="portfolio">best portfolio ever, man</h1>
	{% for project in project_list %}
	<h2><a href="{% url 'project' slug=project.slug %}">{{ project.name }}</a></h2>
	<h3><a href="#">{{ project.role.name }}</a></h3>
	<div>
		{% if project.index_image %}
		<img src="{{ project.index_image.url }}"/>
		{% endif %}
		{{ project.summary|safe }}</div>  
	{% endfor %}
</body>
</html>