{% extends "portfolio/base.html" %}

{% block title %}Portfolio | {{ name.first }} {{ name.last }}{% endblock title %}

{% block portfolio-nav-classes %}active{% endblock portfolio-nav-classes %}
{% block content %}                   
	<div class="row">
	   	<h1>best portfolio ever, man</h1>  
	</div>
	{% for project in project_list %}
	<div class="row">
		<h2>
			<a href="{% url 'project' slug=project.slug %}">
				{{ project.name }}</a><br/>
			<small><a href="{% url 'role' slug=project.role.slug %}">
				{{ project.role.name }}</a></small>
		</h2>
		<div class="lead">          
			{% if project.index_image %}
			<img src="{{ project.index_image.url }}" alt="{{ project.name }}" class="pull-left img-thumbnail"/>
			{% endif %}
			{{ project.summary|safe }}
		</div>  
	</div>
	{% endfor %}
{% endblock content %}
