{% extends "portfolio/base.html" %}

{% block title %}Portfolio | {{ name.first }} {{ name.last }}{% endblock title %}

{% block portfolio-nav-classes %}active{% endblock portfolio-nav-classes %}
{% block content %}                   
	<div class="row">
	   	<h1>best portfolio ever, man</h1>  
	</div>
	{% for project in project_list %}
	<div class="row">
		<h2><a href="{% url 'project' slug=project.slug %}">{{ project.name }}</a></h2>
		<h3><a href="{% url 'role' slug=project.role.slug %}">{{ project.role.name }}</a></h3>
		<div>          
			{% if project.index_image %}
			<img src="{{ project.index_image.url }}"/>
			{% endif %}
			{{ project.summary|safe }}
		</div>  
	</div>
	{% endfor %}
{% endblock content %}