{% extends "portfolio/base.html" %}

{% block title %}{{ project.name }} | {{ name.first }} {{ name.last }}{% endblock title %}

{% block portfolio-nav-sub %}
<ul class="nav nav-pills nav-stacked">
	<li class="active"><a>{{ project.name }}</a></li>
</ul>
{% endblock portfolio-nav-sub %}

{% block content %}
<div class="row">

	<h1>{{ project.name }}</h1>
	<h3><a href="{% url 'role' slug=project.role.slug %}">{{ project.role.name }}</a></h3>
	{{ project.intro|safe }}
	<ul>
		{% for detail in project.details.all %}
		<li>
			<h4>{{ detail.name }}</h4>
			<div>
				{% if detail.img %}
				<img class="img-responsive" src="{{ detail.img.url }}">
				{% elif detail.video %}
				{% load embed_video_tags %}
				{{ detail.video|embed:'medium' }}
				{% endif %}
				{{ detail.desc|safe }}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock content %}