<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>resume</title>
	
</head>
<body id="home" onload="">
	{% include "portfolio/links.inc" %}
	<h1>best résumé ever, man</h1>
	<h2>{{header.first_name}} {{header.last_name}}</h2>
	<h3>{{header.address_city}}, {{header.address_state}} • {{header.phone}} • {{header.email}}</h3>
	{% for section in header.sections.all %}
	<div>
		<h4>{{section.name}}</h4>
		{{section.summary|safe}}
		{% if section.roles %}{% for role in section.roles.all %}
		<p><em>{{role.name}}</em></p>
		{{role.long_desc|safe}}
		{% endfor %}{% endif %}
	</div>	
	{% endfor %}
</body>
</html>