{% extends "portfolio/base.html" %}

{% block title %}{{ role.name }} | {{ name.first }} {{ name.last }}{% endblock title %}

{% block resume-nav-sub %}
<ul class="nav nav-pills nav-stacked">
	<li class="active"><a>{{ role.name }}</a></li>
</ul>
{% endblock resume-nav-sub %}

{% block content %}
	<h2>{{ role.name }} <br/>
	<small>{{ role.org }}, {{ role.location }} | {{ role.startdate|date }} - {{ role.enddate|date }}</small>
	</h2>
	{{ role.long_desc|safe }}
	{% for project in role.projects.all %}
	<p>Project: <a href="{% url 'project' slug=project.slug %}">{{ project.name }}</a></p>
	{% endfor %}
{% endblock content %}